{#
  - title: Open Season
    rank: 1
    status: read
    year: 2002
#}
- book:
    book_id:
    title: >-
      {{ title }}
    tags:
      - Thriller
      - Mystery
      - International
      - Terrorism
      - Gabriel Allon
    series_rank: {{ rank }}
    year: {{ year }}
  author:
    author_id:
    name_first: Daniel
    name_last: Silva
    year: 1960
  event:
    event_id:
    book_id:
    event: finished
    created_at: {{ created_at }}
