{#
  - title: Open Season
    rank: 1
    status: read
    year: 2002
#}
- book:
    book_id:
    title: >-
      {{ title }}
    title_full: >-
    tags:
      - Mystery
      - Thriller
      - Historical
      - England
    series_rank: {{ rank }}
    year: {{ year }}
  author:
    author_id: 14
    name_first: Jacqueline
    name_last: Winspear
    year: 1955
  event:
    event_id:
    book_id:
    event: wished-for
    created_at:
